*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}
body{
	background-color: rgb(93, 0, 19);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	width: 500px;
	padding: 30px;
	border: 1px solid #ff0000;
	border-radius: 10px;
	background-color: #c50000;
	box-shadow: 0px 0px 10px rgba(56, 0, 0, 0.536);
}
h4{
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
}
input{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 100%;
	padding: 10px;
}
#submit{
	box-shadow: 0px 0px 10px rgba(56, 0, 0, 0.323);
	border: 2px solid rgb(212, 0, 0);
	background-color: rgb(255, 119, 0);
	color: white;
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
}
#submit:hover{
	box-shadow: 0px 0px 10px rgb(255, 106, 0);
	border: 2px solid rgb(212, 0, 0);
	background-color: rgb(255, 255, 255);
	color: rgb(255, 0, 0);
}